In [1]:
#importing libraries

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn import svm
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder

In [2]:
data1= pd.read_csv('SalaryData_train.csv')
data2= pd.read_csv('SalaryData_Test.csv')

In [3]:
data1.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
data1.shape
data2.shape

(15060, 14)

In [5]:
data1.isnull().sum().sum()
data2.isnull().sum().sum()

0

In [6]:
data1.loc[data1['Salary'] == ' >50K', 'Salary'] = 1
data1.loc[data1['Salary'] == ' <=50K', 'Salary'] = 0

In [7]:
data2.loc[data2['Salary'] == ' >50K', 'Salary'] = 1
data2.loc[data2['Salary'] == ' <=50K', 'Salary'] = 0

In [8]:
# data1.head()

In [9]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
data1=data1.apply(LabelEncoder().fit_transform)
data2=data2.apply(LabelEncoder().fit_transform)

In [10]:
x_train=data1.drop(['education','maritalstatus','relationship','race','sex','native','Salary'],axis=1)
x_test=data2.drop(['education','maritalstatus','relationship','race','sex','native','Salary'],axis=1)

In [11]:
y_train=data1.iloc[:,13]
y_test=data2.iloc[:,13]

In [12]:
model_linear = SVC(kernel = "linear")
model_linear.fit(x_train,y_train)
pred_test_linear = model_linear.predict(x_test)

np.mean(pred_test_linear==y_test)

0.7924966799468791

In [ ]:
svc = SVC() 
params=[{'kernel':['rbf'],'gamma':[50,0.5,10,0.001],'C':[15,13,12,11,0.001]}]
gsv=GridSearchCV(svc,params,cv=10)
gsv.fit(x_train,y_train)

In [ ]:
gsv.best_params_ , gsv.best_score_