In [1]:
#importing libraries

import numpy as np
import matplotlib.pyplot as plt  
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data1 = pd.read_csv('SalaryData_Train.csv')

In [3]:
data2 = pd.read_csv('SalaryData_Test.csv')

In [4]:
label=LabelEncoder()
data1['workclass']=label.fit_transform(data1['workclass'])
data1['education']=label.fit_transform(data1['education'])
data1['maritalstatus']=label.fit_transform(data1['maritalstatus'])
data1['occupation']=label.fit_transform(data1['occupation'])
data1['relationship']=label.fit_transform(data1['relationship'])
data1['race']=label.fit_transform(data1['race'])
data1['sex']=label.fit_transform(data1['sex'])
data1['native']=label.fit_transform(data1['native'])

data2['workclass']=label.fit_transform(data2['workclass'])
data2['education']=label.fit_transform(data2['education'])
data2['maritalstatus']=label.fit_transform(data2['maritalstatus'])
data2['occupation']=label.fit_transform(data2['occupation'])
data2['relationship']=label.fit_transform(data2['relationship'])
data2['race']=label.fit_transform(data2['race'])
data2['sex']=label.fit_transform(data2['sex'])
data2['native']=label.fit_transform(data2['native'])

In [5]:
x_train=data1.iloc[:,:13]
y_train=data1.iloc[:,-1:]

x_test=data2.iloc[:,:13]
y_test=data2.iloc[:,-1:]

In [6]:
data1.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,5,9,13,4,0,1,4,1,2174,0,40,37,<=50K
1,50,4,9,13,2,3,0,4,1,0,0,13,37,<=50K
2,38,2,11,9,0,5,1,4,1,0,0,40,37,<=50K
3,53,2,1,7,2,5,0,2,1,0,0,40,37,<=50K
4,28,2,9,13,2,9,5,2,0,0,0,40,4,<=50K

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [9]:
from sklearn.naive_bayes import GaussianNB  
classifier = GaussianNB()  
classifier.fit(x_train, y_train)

C:\Users\assim\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

GaussianNB()

In [10]:
y_pred = classifier.predict(x_test)

In [11]:
from sklearn.metrics import confusion_matrix  
cm = confusion_matrix(y_test, y_pred)
cm

array([[10772,   588],
       [ 2446,  1254]], dtype=int64)

In [13]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.798539176626826