In [1]:
## Assignment 0.1 #

In [ ]:
#lets take the significant difference as null hypothesis and no significant diffrence as alternate hypothesis

In [ ]:
# so here ,  H0 = Unit A -Unit B = 0
#            H1 = Unit A - Unit B != 0

In [65]:
#importing libraries

import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [4]:
cutlets=pd.read_csv('cutlets.csv')
cutlets.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [11]:
C1=cutlets['Unit A']

In [12]:
C2=cutlets['Unit B']

In [13]:
stats.ttest_ind(C1,C2)

Ttest_indResult(statistic=0.7228688704678061, pvalue=0.4722394724599501)

In [ ]:
#here pvalue > 0.05 , hence we fail to rejects the null hypothesis

In [ ]:
# there is no significant difference amoung 2 units , ie. A and B.

In [14]:
## Assignment 0.2 #

In [4]:
labs=pd.read_csv('LabTAT.csv')
labs.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [5]:
l1=stats.f_oneway(labs['Laboratory 1'],labs['Laboratory 2'],labs['Laboratory 3'],labs['Laboratory 4']);
l1

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [6]:
# so here p value , 2.1156708949992414e-57 < 0.05
# hence we accepts the null hypothesis that there is difference in average of TAT
# and say there is no difference

In [ ]:
## Assignment 0.3 #

In [9]:
buyers=pd.read_csv('BuyerRatio.csv')
buyers

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [ ]:
from scipy.stats import chi2_contingency

In [26]:
b1=[50,142,131,70]
b2=[435,1523,1356,750]
temp=[[50,142,131,70],[435,1523,1356,750]]

In [35]:
stats,p,dof,expected=chi2_contingency(temp)
stats,p,dof,expected

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [ ]:
# here p-value 0.6603 > Alpha( 0.05 ) , so we fail to reject null hypothesis
# null hypothesis , all proportions are equal

In [ ]:
## Assignment 0.4 #

In [52]:
order = pd.read_csv('Costomer+OrderForm.csv')
order

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [53]:
order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [54]:
from sklearn.preprocessing import LabelEncoder

In [55]:
label=LabelEncoder()

In [59]:
order['Phillippines'] = label.fit_transform(order['Phillippines'])
order['Indonesia'] = label.fit_transform(order['Indonesia'])
order['Malta'] = label.fit_transform(order['Malta'])
order['India'] = label.fit_transform(order['India'])

In [63]:
order.head()

   Phillippines  Indonesia  Malta  India
0             1          1      0      1
1             1          1      1      0
2             1          0      0      1
3             1          1      1      1
4             1          1      0      1

In [70]:
customer = stats.f_oneway(order['Phillippines'],order['Indonesia'],order['Malta'],order['India'])
customer

F_onewayResult(statistic=1.286168556089167, pvalue=0.2776780955705948)

In [ ]:
# pvalue ( 0.2776 ) > alpha( 0.05 )
# so we fail to reject null hypothesis